<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button menu="menuHome" class="botaoMenu"></ion-menu-button>
      <div class="imgLogo">
        <img src="/assets/img/logo.png">
      </div>
      <ion-button slot="end" class="botaoCarrinho" [routerLink]="">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar Produto" showCancelButton="always" 
                   (ionFocus)="focado()" (ionCancel)="desfocado()" (ionChange)="busca($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content id="main" *ngIf="focar === 0; else focarPesquisa">
  <ion-card color="primary" class="ion-text-center cardEndereco">
    <ion-card-subtitle>Entrgar em:</ion-card-subtitle>
    <ion-card-title>{{(userData | async)?.nome}} {{(userData | async)?.email}}</ion-card-title>
    <ion-button [routerLink]="[]">
      <ion-text>Trocar Endereco</ion-text>
    </ion-button>
  </ion-card>

  <ion-row class="ion-align-items-center slideAvisos">
    <ion-col>
      <ion-button fill="clear" class="ion-no-padding" (click)="voltarSlide()">
        <ion-icon slot="icon-only" name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-card button  class="botaoSlide" [routerLink]="['']">
            <img>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" class="ion-no-padding" (click)="avancarSlide()">
        <ion-icon slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
      <ion-row class="ion-justify-content-center">
        <ion-button color="success" class="menuEspecifico" [routerLink]="[]">
          <img >
        </ion-button>
        <div class="ion-text-center">
          <ion-text color="primary"></ion-text>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>

<ng-template #focarPesquisa>
  <ion-content>
    <ion-list>
      <ion-item lines="full" [routerLink]="[]">
        <ion-label color="primary" class="listaBusca">
          <ion-text></ion-text>
          <h3></h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ng-template>

<ion-menu contentId="main" menuId="menuHome" side="start" type="push">
  <ion-content class="itemsMenu">
    <ion-list>
      <ion-menu-toggle>
        <ion-item [routerLink]="[]">
          <ion-icon slot="start"></ion-icon>
          <ion-label></ion-label>
        </ion-item>
        <ion-item button (click)="sair()">
          <ion-icon slot="start" name="exit-outline"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
